body {
  width: 100vw;
  height: 100vh;
  background-image: url(public/image2.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  font-family: Arial, sans-serif;
  margin: 0;
}
h1{
  color:yellow;
  text-align: center;
  font-size: xx-large;
  font-weight: bolder;
}
.navbar-list {
  display: flex;
  justify-content: space-between;
  align-items: center;


  
}

.navbar-list li {
margin-bottom: 10px;
  padding: 70px;
  
 
}
.navbar-list a {
  color:black;
  font-size: larger;
  font-weight:bold;
  
}
