.commentContainer {
  display: flex;
  background-color: #f0f0f0;
  border: 1px solid #e92b2b;
  padding: 30px;
  margin: 10px;
  border-radius: 5px;
}

.first_input {
  background-color: #e0e0e0;
  border: 1px solid #999;
  padding: 5px;
  border-radius: 3px;
  width: 100%;
}

.commentActions {
  display: flex;
  margin-top: 50px;
}

.replyButton {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 3px;
  padding: 5px 10px;
  margin-right: 5px;
  cursor: pointer;
}

.replyButton {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 3px;
  padding: 5px 10px;
  margin-right: 5px;
  cursor: pointer;
}

.replyEdit {
  padding: 20px;
  margin-bottom: 40px;
}

.replyEdit {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 3px;
  padding: 5px 10px;
  margin-right: 5px;
  cursor: pointer;
}

.replyDelete {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 3px;
  padding: 5px 10px;
  margin-right: 5px;
  cursor: pointer;
}

.commentActions{
  margin-bottom: 30px;
  bottom: 70px;
}